default:
    BotToken: "default bot token"
    ChannelID: "default channel id"
bot01:
    BotToken: "bot01 token"
    ChannelID: "channel01 id"
bot02:
    BotToken: "bot02 token"
    ChannelID: "channel02 id"
